p{
    color: red;
    background-color: black;
    font-size: 12px;
}

h1{border: 30px solid red}
h2{border: 25px solid blue}
h3{border: 20px solid green}
h4{border: 15px solid yellow}
h5{border: 10px solid pink}
h6{border: 5px solid black}